@import "vars"

@media only screen and (min-width : 380px)

	// .canTry::before
	// 	right: 50%
	// 	transform: translateX(50%)
	// .howTo
	// 	background-position: -68vw -38vw

	/**/

@media only screen and (min-width : 480px)

	.step-title
		br
			display: none
			


	// .main-page
	// 	background-size: auto 170vh

	// .step2 .form-line
	// 	max-width: 435px
	// 	margin: 0 auto

	// .thanks-page
	// 	.thanks
	// 		padding-top: 5rem
	// 	.get
	// 		padding-top: 9rem
	// 		background-position: 38% 0


	/**/

@media only screen and (min-width : 576px)


	// .main-page
	// 	background-size: 100% 159vh


	/**/

@media only screen and (min-width : 768px)
	.header
		background: url('../img/bg/bg1-md.jpg') no-repeat 0 0
	.logo-wrap
		margin-left: 0
	.page-heading
		padding-top: 480px
		&-text
			max-width: 100%
			font-size: 2.875rem

	.description-text
		min-width: 450px


	.tarrifs
		display: flex
		justify-content: center
		align-items: center
		&-item
			flex: 0 0 225px
			max-width: 225px
			min-height: 280px
			margin: 0 6px
			&.recommend, &:hover
				margin: 0 12px
			&:last-child
				margin-right: 0!important
			&:first-child
				margin-left: 0!important

		&-purchase
			width: 90%

	.step-title
		br
	.step-form-btn
		margin-bottom: 0
	.step-accordion-btn-text
		display: inline-block
		min-width: 115px


	.reviewer
		&-blockquote
			margin: 2.9em 100px 0
		&-name
			margin-top: 0.55em
			margin-right: 0.3em

	.advantages
		background: url(../img/bg/bg2-lg.jpg) no-repeat 95% 50%
		&-title
			width: 100%
			padding-left: 0
			font-size: 2.8185rem
		&-logo
			margin-left: 20px


	.endorsment-post
		padding: 4.25rem 5rem 2rem

	.howTo-inner
		padding: 3rem 0 2rem

	.howTo-link-appStore
		margin-right: 8px
		margin-left: auto
	.howTo-link-googlePlay
		margin-left: 8px
		margin-right: auto
		

	.footer
		padding: 2rem 0
		&-list-title 
			text-decoration: none
			padding: 0.1rem 0
		&-copy
			margin-right: 5px



	// .main-page
	// 	background-image: url('../img/bg/md-bg/curve1.png')
	// 	background-repeat: no-repeat
	// 	background-position: 30% 242px
	// 	background-size: auto 1310px
	// .devices-img
	// 	max-width: 552px
	// .reviewer
	// 	padding: 20px 95px



	// .tarrifs
	// 	height: 420px
	// 	display: flex
	// 	justify-content: center
	// 	&::before
	// 		width: 500px
	// 	&-item
	// 		width: 240px
	// 		position: relative
	// 		&.recommend, &:hover
	// 			width: 280px
	// 			transform: scale(1.1)
	// 			z-index: 10
	// 			.tarrifs-purchase
	// 				opacity: 1
	// 				transition: all .2s linear
					
					
	// 	&-purchase
	// 		width: 200px
	// 		text-align: center
	// 		padding: 11px 0
	// 		opacity: 0
	// 		transition: all .2s linear
			

	// .step1
	// 	.step-title
	// 		margin-bottom: 2rem

	// .step-accordion .collapse-form
	// 	padding: 1rem 1rem 2rem
	// 	border: 1px solid #ced4da
	// 	background-color: #fafafa
	// .step-form-btn
	// 	margin-top: 11px
	// .step3-guarantee, .step3-confirm
	// 	text-align: left
	// .step3-guarantee
	// 	padding: 10px 0 10px 40px
	// 	background: url('../img/icons/guarantee30.png') no-repeat 0 0
	// .step input
	// 	margin: 0 auto
		
	// .step-accordion-btn
	// 	padding-bottom: 15px
	// 	img
	// 		margin-left: 18px
	// 		display: inline-block
			

	// .steps
	// 	position: relative
	// 	&::before
	// 		content: ''
	// 		display: block
	// 		width: 100%
	// 		height: 100%
	// 		position: absolute
	// 		left: 0
	// 		bottom: -60vw
	// 		background: url('../img/bg/lg-bg/curve2.png') no-repeat 50% 100%
	// 		background-size: 100%
	// 		z-index: 0
	// 	.form-text
	// 		margin: 0 auto
	// 		max-width: 645px
	// 	.step-info
	// 		margin: 1.5rem 0 1.85rem

	// .howTo
	// 	background-image: none


	// .endorsment-post
	// 	max-width: 535px
	// 	margin-left: auto
	// 	margin-right: auto
	// .endorsment-text
	// 	padding: 0 10vw



	// .canTry
	// 	min-height: 534px
	// 	padding-top: 150px
	// 	background-position: 0 0
	// 	background-size: 100%
	// 	&::before
	// 		right: 13vw
	// 		transform: none
		

	// .footer-list-title
	// 	text-decoration: none
	// 	padding: .1rem 0

	// .footer-copy
	// 	margin-right: 15px






	// .thanks-page
	// 	min-height: 100vh
	// 	height: 1px
	// 	display: flex
	// 	flex-direction: column
	// 	justify-content: space-between
	// 	background-image: linear-gradient(180deg, #fff, #fff 50%, #021982 50%)
	// 	.header
	// 		background-color: #fff
	// 	.thanks
	// 		padding: 2rem 0 0
	// 		background-color: #fff
	// 		&-title
	// 			max-width: 100%
	// 	.get
	// 		margin: 2px 0
	// 		padding: 12rem 0 0
	// 		background: #fff url('../img/bg/lg-bg/curve4.png') no-repeat
	// 		background-position: 44% -71px



	/**/

@media only screen and (min-width : 992px)



	// .main-page
	// 	background-image: url(../img/bg/lg-bg/curve1.png)
	// 	background-repeat: no-repeat
	// 	background-position: 0 7vw
	// 	background-size: auto 1300px


	// .page-title
	// 	position: relative
	// 	min-height: 270px
	// 	display: flex
	// 	align-items: center
	// .devices-img
	// 	max-width: 100%
	// 	height: auto
	// 	min-height: 225px
	// 	display: none
		

	// .page-title-text, .page-title .btn-wrap
	// 	text-align: left
	// 	max-width: 100%
	// .page-title-text
	// 	padding-right: 11vw
	// .page-title .btn-wrap .btn
	// 	padding: 11px 45px
	// .steps
	// 	&::before
	// 		bottom: -52vw


	// .thanks-page
	// 	.get
	// 		background-position: 25% -71px


	/**/

@media only screen and (min-width : 1200px)


	.header
	.page-heading
		padding: 94px 0
	.page-heading-text, .page-heading-info, .header .btn-wrap
		text-align: right

	.description-text
		min-width: auto
		


	// .main-page
	// 	background-size: 100% 1200px

	// .devices-img
	// 	min-height: 265px
	// .reviewer-blockquote
	// 	padding: 0 240px
	// .reviewer-name
	// 	line-height: 1.8
	// 	margin-right: 5px
	// .advantages-list
	// 	display: flex
	// 	flex-wrap: wrap
	// .advantages-list-item
	// 	flex: 0 0 50%
	// 	max-width: 50%

	// .steps
	// 	padding-top: 120px

	// .tarrifs-item
	// 	margin: 0 20px 37px
	// .tarrifs
	// 	&-item
	// 		width: 300px
	// 		&.recommend, &:hover
	// 			width: 320px

	// .step-accordion .collapse-form
	// 	padding: 1rem 2rem 2rem
	// .step-accordion-btn
	// 	padding-left: 60px
	// .step-accordion .card-header::before
	// 	left: 30px
	// .step-accordion-btn-text
	// 	display: inline-block
	// 	min-width: 115px

	// .howTo
	// 	padding-top: 150px
	// 	&-title, &-text
	// 		margin-bottom: 1.5rem
	// .steps::before
	// 	bottom: -630px
	// 	background-size: 100% 700px

	// .endorsment-post
	// 	min-height: 320px
	// .endorsment-text
	// 	padding: 0 20px


	// .canTry
	// 	padding-top: 200px
	// 	&::before
	// 		right: 22vw
	// 	&-title
	// 		margin-bottom: 1.8rem
	// 	&-text
	// 		margin-bottom: 1.8rem


	// .footer-payment-logos
	// 	margin: .8rem auto
	// 	img
	// 		display: inline-block
	// 		margin-left: 10px
			
	// .footer-info
	// 	height: 100%
	// 	display: flex
	// 	align-items: flex-end


	// .thanks-page
	// 	.header
	// 		background-color: #fff
	// 	.thanks
	// 		padding: 9rem 0
	// 		background-image: url('../img/bg/lg-bg/curve4.png')
	// 		background-repeat: no-repeat
	// 		background-position: -200px 85px
	// 	.get
	// 		padding: 3rem 0
	// 		background: #021982

			
	
	/**/

@media only screen and (min-width : 1400px)


	// .canTry
	// 	padding-bottom: 130px

	// .thanks-page
	// 	.thanks 
	// 		margin: 2px 0
	// 		padding: 14.5rem 0
	// 		background-position: -389px 193px
	// 		background-size: 150%


	/**/